.cardImage{
    width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.charCard{
    width: 140px;
    height:auto;
    margin:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    text-align: center;
    color: #25282d;
}

.series{
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    text-align: center;
    color: #25282d;
}

button{
    /* outline: none;
    border-radius: 21px;
    font-size: 12px;
    border: 1px solid #2aabe2;
    padding: 8px 34px 8px 34px;
    width: 8px;
    font-family: 'Open Sans', sans-serif;
    text-align: center; */
    color:#25282d;
}

