.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.amiiboBody{
  width: 100%;
  height:auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homePg{
  position: relative;
  width:100%;
  height: 703px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #2aabe2;
}
h3{
  position:relative;
  font-family: 'Tauri', sans-serif;
  font-size: 9em;
  width: 700px;
  height: 200px;
  margin: 0px;
  top: 213px;
  color: white;
}
input{
  position: relative;
  width: 200px;
  height: 20px;
  text-align: center;
  outline: none;
  border-radius: 21px;
  font-size: 12px;
  border: 1px solid #2aabe2;
  padding: 8px 34px 8px 34px;
  top:180px;
  font-family: 'Tauri', sans-serif;
}
